footer {

    margin: 0;
    display: grid;
    grid-template-columns: 100px 100px 100px,
}



/* footer {
    background: white;
    width: 100%;
    margin-top: auto;
    height: 100px;
    } */
  
  .logo-world {
    width: 150px;
    height:150px;
    margin: 0 auto;
    object-fit: contain;
  }
  
  .logo-fb,
  .logo-twitter,
  .logo-youtube {
    width: 40px;
    transition: 0.5s ease-out;
  }
  
  .logo-fb:hover,
  .logo-twitter:hover,
  .logo-youtube:hover {
    transform: scale(1.50);
  }
  
  .flex-footer hr {
    height: 100px;
  }
  
  hr{
    color:  #330867;
  }

  .flex-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    width: 100%;
  }
  
  .flex-list {
    /* display: flex;
    justify-content: space-evenly; */
    align-self: center;
    color: #330867 ;
    margin: 0 auto;
  }
  
  .flex-logoReseau {
    display: flex;
    justify-content: space-evenly;
    /* width: 15%; */
    align-self: center;
    margin: 0 auto;
  }
  
  .flex-logoReseau img {
    margin: 0px 5px;
  }
  
  .flex-list a {
    color:  #330867;
    text-decoration: none;
    font-size: 28px;
  }

  .flex-list a:hover{
    color:  #30cfd0 ;
  }
  
  .flex-list li {
    list-style-type: none;
    margin: 20px;
  }
  
 
  @media screen and (max-width: 840px) {
    .flex-footer {
      flex-direction: column;
    }
    hr {
      display: none;
    }
    footer {
      height: 60%;
    }
    .flex-logoReseau {
      margin-bottom: 5%;
    }
    .logo-poke {
      margin-bottom: 3%;
    }
  }
  