
.headerHeader{
  background: white;
    width: 100%;
    margin-top: auto;
    height: 100px;
    }
  
  
  .headerBox {
    display: flex;
    justify-content: center;
    background:  white;
    justify-content: flex-end;
  }
 
  .contentOne {
    margin-right: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 28px;
    color: #330867;
  }

  a:link{
    text-decoration: none;
  }
  
  .contentOne:hover {
    color: #30cfd0;
  }

