.StartButton-body{
    margin: 0;
    padding: 0;
    background: white;
    box-sizing: border-box;
    font-family: sans-serif; 
    font-size: 20px;
}

.StartButton-inside{
    position: absolute;
    top: 100%;
    left:50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 40px;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    background: #330867;
    border-radius: 10px;
    font-size: 20px;
}

.StartButton-inside:hover {
    position: absolute;
    top: 100%;
    left:50%;
    transform: translate(-50%, -50%);
    color: #30cfd0 ;
    padding: 10px 40px;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
    overflow: hidden;
    background: #e4d9fc;
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
}

@media screen and (max-width: 961px){
    .StartButton-inside{
        position: absolute;
        top: 80%;
        left:50%;
    }

    .StartButton-inside:hover {
        position: absolute;
        top: 80%;
        left:50%;
    }
}

